/** @format */

.container {
  padding-top: 40vh;
  text-align: center;
  height: 100vh;
  background-color: rgb(233, 233, 233);
}
.container button {
  border: none;
  background-color: gray;
  padding: 2px 20px 4px 20px;
  border-radius: 20px;
  color: #fff;
}
